SpinWheelControl.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SpinWheelControl.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
SpinWheelControl.xcodeproj/project.xcworkspace/xcuserdata/Josh.xcuserdatad/WorkspaceSettings.xcsettings
